.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  background: linear-gradient(180deg, #111827, #1f2933);
  padding: 30px 20px;
  color: white;
}

.brand {
  color: #22c55e;
  font-size: 26px;
  text-align: center;
  margin-bottom: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.menu a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  padding: 12px 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.menu a:hover {
  background: #22c55e;
  color: #111827;
  transform: translateX(6px);
}
